# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Gradle files
.gradle/
build/

# Kotlin-specific files
*.iml
.idea_modules/
*.kotlin_module

# Maven files
target/

# OS-specific files
.DS_Store
Thumbs.db
